#front {
  background: url("https://image.ibb.co/mjTmwv/port34.png") no-repeat;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0 ;
    padding: 0;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #dfdfdf;
}

h1 {
  color: white;
  font-size: 50px;
  margin-top: 20vh;
  font-family:'Times New Roman', Times, serif;

  padding: 10px;
  background: rgba(0, 0, 0, 0.4);
}

h2 {
  color: white;
  font-size: 40px;
  margin: 50px;
  margin-top: 5vh;
  font-family:'Times New Roman', Times, serif;
    padding: 10px;
  background: rgba(0, 0, 0, 0.4);
}


.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin: 0 1rem;
}

.btn:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}

.btn--alt {
  background-color: transparent;
  color: #800040;
}

.btn--alt:hover {
  background-color: #f8dae9;
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  width: 20rem;
}

.tab1cards {
  display: flex;
  flex-direction: row;
}

.actions {
  text-align: right;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}


buttonheader {
  display: flex;
  column-gap: 150px;
  max-width: 300px;
  min-width: 29px;
  justify-content: center;
  align-self: center;
  margin: auto;
}

button {
  flex: 1;
    box-sizing: border-box;
    height: 50px;
    width: 5000px;
    font-family: "Times New Roman", Times, serif;
    background-color: transparent;
    font-size: 20px;
    box-shadow: transparent;
    border-color: transparent;
    cursor: pointer;
    border-radius:15px;
    padding-left: 20px;
    padding-right: 20px;
}
button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.148);

  
}

mainheader {
  margin: 0px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

socials {
  align-self:flex-end;
  font-family: "Times New Roman", Times, serif;
  display:flex;
  justify-content: center;
  column-gap: 15px;
  margin-right: 50px;
}


subpage {
  background-color:rgba(255, 255, 255, 0.952);
  border:#9c1458;
  display:flex;
  width:80%;
  height:80vh;

  align-self: center;
  margin: auto;
  margin-top: 30px;

}

subpageTitle {
  color:rgb(0, 0, 0);
  width: auto;
  font-size: 40px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.underline {
  color:#800040;
  width:20px;
  height:10px;
}
